{% extends 'Post/base.html' %}
{% load static %}
{% block 'navbar' %}
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand">Travel<span>Blog</span></p>
    </div>
    <ul class="nav navbar-right">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                              role="button" aria-haspopup="true" aria-expanded="false">{{user.username|upper}}<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'new-post' %}">Share New Travel Experience</a></li>
              <li><a href="{% url 'myblog' slug=user.username %}">My Posts</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
      </li>
    </ul>
  </div><!-- container-fluid -->
</nav><!-- navbar navbar-fixed-top -->
</br>
{% endblock %}
{% block 'body' %}

<!-- page content -->
<div class="container">
<div class="row">
<!-- Blog Entries Column -->
  <div class="col-md-8">
  <h3 class=my-4">{{ title }}</h3>
  <!-- Blog Post -->
  {% if posts %}
      {% for post in posts %}
      <div class="card mb-4">
        <img class="card-img-top" src="{% static 'blog_img/' %}{{post.image}}" height="300" width="600" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.post|safe|slice:":200" }}...</p>
          <a href="{% url 'blogview' id=post.id|urlencode %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          {{ post.date }}
          <a href="{% url 'myblog' slug=post.author %}">{{ post.author }}</a>
          Comments <span class="badge badge-default badge-pill">{{ post.comments}}</span>
        </div>
      </div>
      <hr>
     {% endfor %}
  {% endif %}
<!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>
<!-- END BLOG ENTRIES -->
  </div><!--col-md-8 -->

<!-- Side Widget -->
<div class="card my-4">
  <h5 class="card-header">Popular Posts</h5>
  <div class="card-body">
    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
  </div>
</div>
</div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static '/js/ajax_update_post.js' %}"></script>
{% endblock %}