<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Travel Blog Login</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>
  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Travel<span>Blog</span></div>
		</div>
		<br>
  		<form method="post">
			<div class="form">
			{% csrf_token %}
        	{% for field in form %}
          	{{field}}<br/>
            	{% load costume_filters %}
            	{% if field.help_text %}
        	<div class="help_text">{{ field.help_text|strip_tags }}
        	</div>
            {% endif %}
        	{% endfor %}
				{% if form.error %}
              		<p class="error">{{ form.error.invalid_login|strip_tags }}</p>
            	{% endif %}
				<input type="submit" value="Login"><br>
			<a href="{% url 'signup' %}">Sign<span>Up</span></a>
		</div>
		</form>
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
</body>
</html>
