{% extends 'Post/blog.html' %}
{% block 'body' %}
<!-- page content -->
<div class="container" style="padding-top: 44px">
    <div class="row">
        {% if form %}
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                {% csrf_token %}
                <p class="lead">Select a PNG or JPEG image, having maximum size <span id="max-size"></span> 1 MB</p>
                <label>{{ form.image.label }}:</label>
                <br>
                {{ form.image }}
                <hr>
                <label>{{ form.title.label }}:</label>
                <br>
                {{ form.title }}
                <hr>
                <label>{{ form.post.label }}:</label>
                <br>
                {{ form.post }}
                <hr>
                <input type="submit" value="Add" class="btn btn-primary">
                {% if form.errors %}
                    {% for error in form.errors %}
                <div class="alert alert-danger"><strong>{{ error }}</strong></div>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
        {% endif %}
</div><!--row-->
</div><!-- container -->
{% endblock %}